.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #38bdf8;
    color: white;
    padding: 0 20px;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.logo{
    font-size: 25px;
    font-weight: bold;
}

.user-section{
    display: flex;
    align-items: center;
    gap: 15px;
}

.login-btn{
    background-color: #f6c85d;
    border: none;
    color: black;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 30px;
}
