.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #38bdf8;
    color: white;
    padding: 0 20px;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.logo{
    font-size: 25px;
    font-weight: bold;
}

.nav-actions{
    display: flex;
    gap: 10px;
}
.nav-actions button{
    background-color: #1aa3ff;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
}

.nav-actions button:hover{
    background-color: #008ae6;
}

.user-section{
    display: flex;
    justify-content: flex-end; /* Keeps them on the right side */
    margin-right: 30px; 
    gap: 10px;
}

.login-btn{
    background-color: transparent;
  border: none;
  
  /* Initial text style */
  color: white; 
  font-weight: bold;
  font-size: 15px;
  padding: 10px 20px;
  cursor: pointer;
  transition: color 0.3s ease;
    margin-right: 0;
}

.login-btn:hover, .login-btn:active {
  color: #00162d; /* Change this to your preferred "highlight" color */
  background-color: transparent;/* Invert colors for a clean look */
}
